fastapi==0.115.6
uvicorn[standard]==0.32.1
httpx==0.28.1
sqlalchemy==2.0.38
pydantic==2.10.6
tiktoken==0.8.0
peewee==3.18.3
peewee-migrate==1.14.3
python-dotenv==1.0.1
typing_extensions==4.12.2
psycopg2-binary==2.9.10
PyMySQL==1.1.1
markdown==3.10
beautifulsoup4==4.12.3
cryptography
typer==0.12.5
aiohttp==3.12.15
